.login{
    background-image: url('../../../assets/images/bghome.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
h2 , label {
    color: white;
}
.form-group{
    margin-bottom: 10px;
}